/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 { margin: 0; padding: 0; box-sizing: border-box;  width: 100%; height: 100%;}
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.background{
  background-color: #857A97;
  background-color: #FAFAFA;
}*/
/** { margin: 0; padding: 0; box-sizing: border-box; height: 100%; width: 100%;}*/
  /*width: 100%; height: 100%;*/
  
.app-header {
  position: relative;
  background-color: #857A97;
  top:0px;
  padding-top: 1rem;
  width: 100%;
  color:#FAFAFA;
}

.app {
  position: relative;
  padding-top: 1rem;
}
.app .module {
  position: relative;
  box-shadow: none;
  margin-top: 1rem;
  border: 1px solid #E7E7EC;
  padding-bottom: 13rem;
}
.app .module .inner{
  padding-left: 1rem;
}

/*.app h6 {
    color:#68559B;
}*/

.background{
  background-color: #857A97;
}

.footer{
  position: fixed;
  bottom:0px;
  height: 40px;
  width: 100%;
}

.footer .text{
  font-size: 14px;
  text-align: right;
  color:#68559B;
}

.right {
  float:right;
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 14rem 0 15rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .app-section {
    padding: 0rem 0 19rem;
  }
}