<div class="section">
  <div class="container">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <h4>DFS Avocado</h4>
    <div class="row">
        <div class="four columns">
          <input class="u-full-width" type="text" placeholder="username" id="auth-user">
        </div>
    </div>
    <div class="row">
        <div class="four columns">
          <input class="u-full-width" type="password" placeholder="password" id="auth-password">
        </div>
    </div>
    <div class="row">
        <div class="four columns">
          <button class="button u-pull-right" id="auth">Connect</button>
        </div>
    </div>
  </div>
</div>
<script src="/javascripts/auth.js"></script>